/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    font-family: Arial, sans-serif;

}

nav ul {
    margin: 0;
    /* Remove margin padrão */
    padding: 0;
    /* Remove padding padrão */
    gap: 1.2rem;

}

nav ul li a {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
}

.login-container {
    margin: 10px;
}

.login-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 625px;
}

.login-img img {
    height: 450px;
    width: 400px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 625px;
    border: 1px solid black
}

.form-container p {
    margin-top: 5px;
}

.form-grup {
    margin-bottom: 10px;
}

.form-grup:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 10px;
}