.login-container{
     display: flex;
}

.login-container{
    margin: 10px;
}

.login-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 625px;
}

.login-img img{
    height: 450px;
    width: 400px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 625px;
    border: 1px solid black
}
