/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  font-family: Arial, sans-serif;

}

nav ul {
  margin: 0;
  /* Remove margin padrão */
  padding: 0;
  /* Remove padding padrão */
  gap: 1.2rem;

}

nav ul li a {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}