body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', 'Calibri', 'Times New Roman';
}

.nav-item {
    font-size: larger;
    font-family: 'League Spartan', 'Calibri', 'Times New Roman';
}

button, input {
    font-size: larger;
    font-family: 'League Spartan', 'Calibri', 'Times New Roman';
}

#container_logo {
    padding: 10px 50px;
}

#logo {
    background-image: url("logo.png");
    height: 100px;
    width: 270px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

#main {
    padding: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

.table {
    text-align: center;
}

.button {
    margin: 50px 0;
}
