/* -CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;


}

body {
    line-height: 1.6;

}


h1,
h2,
h3,
button,
a {
    font-family: "League Spartan", sans-serif;

}

p,
a,
span {
    font-family: "Open Sans", sans-serif;
}



nav ul {
    margin: 0;
    padding: 0;
    gap: 1.2rem;
    list-style: none;

}

nav ul li a {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    /* Remove o underline */
    color: white;
    margin: 0;
    padding: 0;
}


/* Header Section */

/* Header-section */
.header-container {
    background-color: #1051AB;
    padding: 1rem 0;
}


.btn-login {
    cursor: pointer;
}


.logo {
    width: 260px;
}





/* Para telas pequenas (sm) e médias (md) */
@media (max-width: 991px) {
    .btn-login {
        width: 30%;
        margin-top: 1rem;
        color: #1051AB;

    }
}


/* Login section  ---------------------- */
.login-container {
    display: flex;
    margin: 10px;
}

/* Imagem Ilustrativa */
.login-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 625px;
}

.login-img img {
    height: 450px;
    width: 400px;
}

/* Divisor imagem e formulário*/
.divisor {
    margin: 0;
    padding: 0;
    width: 1px;
    height: 500px;
    background-color: #e0e0e0;
}

/* Formulário de Login */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 625px;
}

.form-container p {
    margin-top: 5px;
}

.form-group {
    margin-bottom: 25px;
}

input {
    width: 400px;
    height: 40px;
    border: 1.5px solid #b4b5b7;
    border-radius: 5px;
}

input::placeholder {
    padding-left: 5px;
}

.form-btn {
    width: 400px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #1051AB;
    color: white;
}

.form-btn,
.form-group {
    transition: transform 0.3s ease;
}

.form-btn:hover,
.form-group:hover {
    transform: scale(1.03);
}

.form-btn:hover {
    background-color: #5279ae;
}

.form-group:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 12px;
}

.form-group:nth-child(2),
.form-group:nth-child(3),
.form-group:nth-child(4) {
    margin-top: 0px;
    margin-bottom: 12px;
}

/* Para telas pequenas (sm) e médias (md) (LOGIN) */
@media (max-width: 991px) {
    .login-container {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .login-img {
        width: 100%;
        max-width: 150px;
        /* Define uma largura máxima específica */
        height: auto;
        /* Ajusta a altura automaticamente para manter a proporção */
        margin-bottom: 20px;
        /* Espaçamento abaixo da imagem */
    }

    .login-img img {
        width: 100%;
        height: auto;
    }

    .form-container {
        width: 100%;
        max-width: 90%;
        height: 280px;
    }

    .divisor {
        display: none;
        /* Oculta a linha divisora no mobile */
    }

    input,
    .form-btn {
        width: 100%;
        max-width: 90%;
    }

    .form-container p {
        text-align: center;
    }
}

/* Hero ---------------------- */
.container-hero {
    /* height: 37rem; */
    padding: 5rem 0;

}

.title-hero {
    color: #0056b3;
    font-size: 2.3rem;

}

.content-hero {
    color: rgb(116, 115, 115);
    font-size: 0.96rem;
    letter-spacing: 0.8px;
    margin-top: 1rem;
}

.btn-hero {
    background-color: #0056b3;
    font-weight: 700;
    letter-spacing: 1px;
    border: 2px solid #0056b3;
    padding: 0.6rem 2.4rem;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 2rem;


}

.btn-hero {
    color: #ffffff;
    text-decoration: none;

}

.btn-hero:hover {
    background-color: #ffffff;
    color: #0056b3;
    border: 2px solid #0056b3;

}

.hero-img-container img {
    border-radius: 8px;
}



/* Sponsors ---------------------- */
.sponsors-container {
    padding: 5rem 0;

}

.title-sponsors {
    color: rgb(138, 138, 138);
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;

}


.sponsors-container img {
    height: 120px;
    width: 120px;
    object-fit: cover;
}

/* Feature ---------------------- */
.features-container {
    background-color: #e7f2ff;

}

.icon-feature {
    color: #007bff;
    padding: 1.3rem;
    background-color: #ffffff;
    border-radius: 6px;
}

.card-title {
    color: #007bff;
}


.card-text {
    color: #7b7b7c;
}


/* About ---------------------- */
.about-company h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #0056b3;

}

.about-subtitle {
    color: #007bff;
}

.about-company p {
    color: #7b7b7c;
}

.primary-benefit img {
    width: 100%;
    border-radius: 8px;
}

.showcase {
    margin-bottom: 1em;
}

/* Testimonials ---------------------- */

.testimonial-header {
    text-align: start;
}

.testimonial-header h5 {
    color: #007bff;

}

.twitter-text {
    color: #abacad;
    font-size: 0.78rem;
}

.testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #007bff;
}

.user-testimonials {
    background-color: #e7f2ff;
}

.user-testimonials h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #0056b3;

}

.testimonial-card {
    background: #fff;
    border-radius: 8px;
    color: #555;
}

.content-testimonial {
    font-size: 0.87rem;
    color: #6a6a6b;
    font-style: italic;
    letter-spacing: 0.8px;
}

.footer-testimonial {
    color: #a7a7a7;
    font-size: 0.8rem;
}


/* Price ---------------------- */
.price-title {
    color: #0056b3;
}

.price-title-content {
    color: #7b7b7c;
}

.price-list {
    color: #6a6a6b
}

.card-price-title {

    color: #727272;

}

.pricing-plans h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.pricing-card {
    background: #f8f9fa;
    border-radius: 8px;
}

.pricing-card h4 {
    font-size: 1.25em;
}

.pricing-card h3 {
    font-size: 1.75em;
    color: #007bff;
}


/* Contact ---------------------- */
.title-form {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: #0056b3;
    font-size: 2.3rem;
    font-weight: 700;
}

.contact-group {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}




/* Footer ---------------------- */
.footer-container {
    background-color: #1051AB;
    padding: 0.8rem 0;
    /* position: fixed;
    bottom: 0; */

}

.subtitle-footer {
    color: #e0e0e0;
    font-size: 1.3rem;
    margin: 0;
    align-self: flex-center;

}

.footer-icon-list {
    display: flex;
    gap: 0.7rem;
}

.icon {
    background-color: #f6f6f6;
    padding: 0.4rem 0.6rem;
    border-radius: 50%;
}

/* Container flexível para alinhar o input e o botão */
.subscribe-container {
    display: flex;
    align-items: center;
    width: 75%;
}

/* Estilizar o campo de entrada */
.subscribe-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    /* Remove a borda direita para unir com o botão */
    border-radius: 4px 0 0 4px;
    /* Bordas arredondadas para o lado esquerdo */
    outline: none;
    height: auto;
}

/* Estilizar o botão */
.subscribe-button {
    padding: 8px 20px;
    font-size: 16px;
    letter-spacing: 1.1px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    /* Bordas arredondadas para o lado direito */
    transition: background-color 0.3s;
}

/* Efeito de hover para o botão */
.subscribe-button:hover {
    background-color: #0056b3;
}

/* Remover estilos extras no input ao focar */
.subscribe-input:focus {
    border-color: #007bff;
}

.hr-footer {
    background-color: #ccc;
    width: 100%;
}

.footer-nav ul {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.nav-links-footer {
    color: #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 0 1.4rem;
    cursor: pointer;
}

.nav-links-footer a {
    color: #e0e0e0;
}

.copyright {
    margin: 0;
    color: #e0e0e0;
    font-size: 11px;
    margin-bottom: 0.4rem;
}

.table {
    text-align: center;
}

.button {
    margin: 50px 0;
}

.radio {
    margin: 10px 0;
    display: block;
}

.graph {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50;
}

.btn-login {
    background-color: #1051ab;
    color: #ffffff;
    border-radius: .25rem;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin-top: 20px;
}