{% extends 'layout.html' %}

{% block title %} Diário {% endblock %}

{% block main %}
    <div class="container mt-5 mb-5">
        <h2 class="text-center mb-4"><strong>Diário</strong></h2>
        <div class="container button">
            <!-- Selecionar ID vaca para ver seu diário -->
            <form id="selecaoForm" onsubmit="return ValidateForm()" action="/diario" method="post">
                <input min="1" autocomplete="off" autofocus id="selecao_vaca" name="selecao_vaca" placeholder="ID vaca" type="number">
                <button class="btn-login" type="submit">Ver diário</button>
            </form>
            <!-- Selecionar período -->
            <form id="periodo2Form" onsubmit="return ValidateForm()" action="/diario" method="post">
                <input autocomplete="off" autofocus id="periodo_diario" name="periodo_diario" placeholder="Período" type="number">
                <button class="btn-login" type="submit">Selecionar período</button>
            </form>
        </div>

        <!-- Tabela diário -->
        <div class="container mt-5">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        {% for coluna in colunas %}
                            <th>{{ coluna }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for linha in dias %}
                        <tr>
                            {% for item in linha %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Registrar no diário -->
        <div class="container button">
            <button class="btn-login" onclick="registro()">Registrar no diário</button>
            <form id="diarioForm" onsubmit="return ValidateForm()" action="/registro", method="post">
                <input autofocus autocomplete="off" id="id_vaca" name="id_vaca" placeholder="ID vaca" type="hidden">
                <input autocomplete="off" id="dia" name="dia" placeholder="Data (aaaa-mm-dd)" type="hidden">
                <input autocomplete="off" id="ciclo" name="ciclo" placeholder="Ciclo reprodutivo" type="hidden">
                <input autocomplete="off" id="leite_qtdd" name="leite_qtdd" placeholder="Quantidade de leite" type="hidden">
                <input autocomplete="off" id="leite_temp" name="leite_temp" placeholder="Temperatura do leite" type="hidden">
                <input autocomplete="off" id="leite_ph" name="leite_ph" placeholder="pH do leite" type="hidden">
                <div class="d-flex justify-content-center">
                    <button class="btn-login" id="registrar" type="submit" style="display: none;">Adicionar registro</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Script -->
    <script>
        // Desocultar campos ao clicar em "Adicionar registro"
        function registro() {
            document.getElementById("id_vaca").type = "number";
            document.getElementById("dia").type = "text";
            document.getElementById("ciclo").type = "text";
            document.getElementById("leite_qtdd").type = "text";
            document.getElementById("leite_temp").type = "text";
            document.getElementById("leite_ph").type = "text";
            document.getElementById("registrar").style.display = "inline";
        }

        // Validar formulário
        function ValidateForm() {
            let id = document.getElementById("id_vaca").value
            let dia = document.getElementById("dia").value
            let ciclo = document.getElementById("ciclo").value
            let qtdd = document.getElementById("leite_qtdd").value
            let temp = document.getElementById("leite_temp").value
            let ph = document.getElementById("leite_ph").value
            if (id == "" || dia == "" || ciclo == "" || qtdd == "" || temp == "" || ph == "") {
                alert("Preencha todos os campos.")
                return false;
            }
            return true;
        }
    </script>
    <script>
        document.getElementById("selecaoForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent the form from submitting normally

            // Dados do formulário
            const formData = new FormData(this);

            // Requisição AJAX com fetch
            fetch("/diario", { 
                method: "POST",
                body: formData,
            })
            .then(response => {
                if (response.redirected) {
                    // Redireciona para a página especificada pelo servidor
                    window.location.href = response.url;
                } else {
                    return response.json(); // Processa resposta JSON se não houver redirecionamento
                }
            }) 
            .then(data => {
                if (data && !data.success) {
                    alert(data.message); // Display error message
                }
            })
            .catch(error => {
                console.error("Error:", error);
            })
        });
    </script>
{% endblock %}