{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block main %}
    <!-- Login form -->
    <div class="d-flex justify-content-center">
        <form onsubmit="return ValidateForm()" action="/login" method="post" class="d-flex flex-column align-items-center">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>

    <!-- Script -->
    <script>
        // Validar formulário de Login
        function ValidateForm() {
            let username = document.getElementById("username").value
            let password = document.getElementById("password").value
            if (username == "" || password == "") {
                alert("Preencha todos os campos.")
                return false;
            }
            return true;
        }
    </script>
{% endblock %}