{% extends "layout.html" %}

{% block title %} Esqueci senha {% endblock %}

{% block main %}
    <!-- Imagem ilustrativa -->
    <div class="wrapper">
        <div class="login-container">
            <div class="login-img">
                <img src="/static/img/logo-reduzida-azul.png" alt="">
            </div>
            <div class="divisor"></div>
            <!--Formulário de Login-->
            <div class="form-container">
                <h2 class="title-form">Redefinir senha</h2>
                <form class="needs-validation" id="loginForm" action="/reset_password/{{ token }}" method="post"  novalidate>
                    <div class="form-group">
                        <label for="password"></label>
                        <input id="password" name="password" placeholder="Senha" type="password" required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Insira uma senha.</div>
                    </div>
                    <div class="form-group">
                        <label for="confirm"></label>
                        <input id="confirm" name="confirm" placeholder="Confirmar senha" type="password" required>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">Confirme a senha.</div>
                    </div>
                    <button class="form-btn" type="submit"><strong>REDEFINIR</strong></button>
                </form>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script>
        document.getElementById("loginForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent the form from submitting normally

            // Dados do formulário
            const formData = new FormData(this);

            // Requisição AJAX com fetch
            fetch("/reset_password/{{token}}", { 
                method: "POST",
                body: formData,
            })
            .then(response => {
                if (response.redirected) {
                    // Redireciona para a página especificada pelo servidor
                    window.location.href = response.url;
                } else {
                    return response.json(); // Processa resposta JSON se não houver redirecionamento
                }
            }) 
            .then(data => {
                if (data && !data.success) {
                    alert(data.message); // Display error message
                }
            })
            .catch(error => {
                console.error("Error:", error);
            })
        });
    </script>
    <script src="{{ url_for('static', filename='js/validateform.js') }}"></script>
{% endblock %}