{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block main %}
    <!-- Formulário para cadastro de usuário -->
    <form onsubmit="return ValidateForm()" action="/register" method="post" class="d-flex flex-column align-items-center">
        <!-- Register form -->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirm" name="confirm" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <!-- Script -->
    <script>
        // Validar formulário de Registro
        function ValidateForm() {
            let username = document.getElementById("username").value
            let password = document.getElementById("password").value
            let confirm = document.getElementById("confirm").value
            if (username == "" || password == "" || confirm == "") {
                alert("Preencha todos os campos.")
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
