{% extends "layout.html" %}

{% block title %} cart {% endblock %}

{% block main %}
    <h2>Minhas vacas</h2>
    <table class="table">
        <thead>
            <tr>
                {% for coluna in colunas %}
                    <th>{{ coluna }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for linha in vacas %}
                <tr>
                    {% for item in linha %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <button>Adicionar vaca</button>
    </div>
{% endblock %}